/* --------------------------------------
   Global Styles
   -------------------------------------- */
  /*Custom fonts*/
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: 'robotoregular';
                              }

p                             {    color: #000;}
h1, h2, h3, h4, h5, p         {    margin: 0;}
a                             {    text-decoration: none;}
strong                        {    font-weight: 900;}
ul                            {    padding: 0;}
*                             {    box-sizing: border-box; outline: none;}
*:focus                       {    outline: none;}
::-moz-focus-inner            {    border:0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}

.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1200px;}
 
.col-1                        {    width: 100%;}
.col-2                        {    width: 50%;}
.col-3                        {    width: 33.33%;}
.col-4                        {    width: 25%;}

.col-1,
.col-2,
.col-3,
.col-4                        {    float: left; height: 100%;}

.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: 0;
                              }

.float-right                  {    float: right;}


@media (max-width: 1250px) {
}
@media (max-width: 800px) {
}
@media (max-width: 660px) {
}
@media (max-width: 570px) {
}
@media (max-width: 360px) {
}


/* --------------------------------------
   Custom Styles
   -------------------------------------- */



.chooseApart     {
                     height: 100vh;
                     min-height: 600px;
                     position: relative;
                     width: 100%;
                 }
.ornLine         {
                     display: block;
                     position: absolute;
                     min-width: 100%;
                     z-index: 10;
                     bottom: 40px;
                     left: -100%;
                     right: -100%;
                     margin: auto;
                 }
.apartment       {
                     float: left;
                     height: 100%;
                     cursor: pointer;
                     position: relative;
                     text-align: center;
                     -webkit-transition: all .3s;
                     -moz-transition: all .3s;
                     -ms-transition: all .3s;
                     -o-transition: all .3s;
                     transition: all .3s;
                     width: 20%;
                     overflow: hidden;
                 }
.apartment:after {
                     content: "";
                     display: block;
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background-color: rgba(0,0,0, .4);
                 }
.apartment:before
                 {
                     z-index: 3;
                     content: "";
                     display: block;
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background-color: rgba(59,74,120, .8);
                     opacity: 0;
                     -webkit-transition: all .2s;
                     -moz-transition: all .2s;
                     -ms-transition: all .2s;
                     -o-transition: all .2s;
                     transition: all .2s;
                 }
.apartment img   {
                     position: absolute;
                     min-width: 100%;
                     height: 100%;
                     right: 0;
                     bottom: 0;
                     top: 0;
                     margin: auto;
                 }
.apartment-1     {
                     width: 60%;
                     border-right: 1px solid #fff;
                 }
.apartment-1 img {
                     left: 0;
                     right: auto;
                 }
.apartment-2     {    border-right: 1px solid #fff }
.apartment-2 img {
                     right: 0;
                     left: 0;
                 }
.apartment:hover:before {    opacity: 1 }


.apartmentInfo          {
                            display: inline-block;
                            height: 100%;
                            width: 350px;
                            position: relative;
                            z-index: 10;
                            text-align: center;
                        }
.apartmentInfoWrap      {
                            display: inline-block;
                            vertical-align: middle;
                            width: 98%;
                        }
.apartmentInfo h4       {
                            font-family: "CenturyGothicRegular";
                            color: #FFF;
                            text-transform: uppercase;
                            -webkit-transition: all .2s;
                            -moz-transition: all .2s;
                            -ms-transition: all .2s;
                            -o-transition: all .2s;
                            transition: all .2s;
                        }
.apartmentInfo table    {
                            display: none;
                            text-align: center;
                        }
.apartmentInfo table td {    color: #FFF }
/*---------------------------------------------------------------*/